[buildout]
extensions = 
    buildout.bootstrap
    mr.developer
auto-checkout = southtut
versions = versions
parts = 
    svn
    trac
    project
    trac-conf
    extra-conf
    source-import
    recipe-xml-in
    supervisor
    trac-logo
    commit
    end

[sources]
southtut = git git@github.com:aclark4life/South-Tutorial.git

[svn]
recipe = plone.recipe.command
command = 
    svnadmin create ${svn:repo}
    svn mkdir -m ${svn:msg} file:///${svn:repo}/branches
    svn mkdir -m ${svn:msg} file:///${svn:repo}/tags
    svn mkdir -m ${svn:msg} file:///${svn:repo}/trunk
repo = ${buildout:directory}/repo
msg = "Initial import"
rev = 0

[trac]
recipe = zc.recipe.egg
# XXX Bitten not on PyPI, WTF?
find-links = http://ftp.edgewall.com/pub/bitten/Bitten-0.6b2.tar.gz
eggs = 
    Trac
    Bitten

[project]
recipe = plone.recipe.command
command = 
# XXX Is there no way to do a non-interactive initenv?
    ${buildout:bin-directory}/trac-admin project initenv
# Run me whenever buildout runs
update-command = ${project:command}

[versions]
# XXX Bitten does not support Trac 0.12, WTF?
Trac = 0.11.4

[hosts]
localhost = 127.0.0.1

[ports]
trac = 8080

[project]
# Trac project to initenv
name = project
path = ${buildout:directory}/${project:name}

[extra-conf]
recipe = plone.recipe.command
command = 
    ${buildout:bin-directory}/trac-admin ${project:path} upgrade
    ${buildout:bin-directory}/trac-admin ${project:path} permission add anonymous BUILD_VIEW
    ${buildout:bin-directory}/trac-admin ${project:path} permission add anonymous BUILD_EXEC
    ${buildout:bin-directory}/trac-admin ${project:path} permission add anonymous TRAC_ADMIN
# Run me whenever buildout runs
update-command = ${extra-conf:command}

[trac-logo]
recipe = plone.recipe.command
command = cp ${buildout:directory}/bitten_logo_small.png ${project:path}/htdocs

[django-project]
location = src/django-project

[source-import]
recipe = plone.recipe.command
command = 
    cd ${django-project:location}
    svn co file:///${svn:repo}/trunk .
    svn add *
    svn commit -m ${svn:msg}

[commit]
recipe = plone.recipe.command
command = 
    echo test >> ${django-project:location}/test
    svn add ${django-project:location}/test
    svn commit --force-log -m test ${django-project:location}/test
update-command = ${commit:command}

[trac-conf]
recipe = collective.recipe.template 
input = ${buildout:directory}/templates/trac.ini.in
output = ${project:path}/conf/trac.ini

# Generate config to cut/paste into Bitten
[recipe-xml-in]
recipe = collective.recipe.template 
input = ${buildout:directory}/templates/recipe.xml.in
output = ${buildout:directory}/recipe.xml

[end]
recipe = plone.recipe.command
command =
    echo -------------------------------------------------------------------------------- 
    echo Bitten config
    echo -------------------------------------------------------------------------------- 
    cat ${buildout:directory}/recipe.xml
update-command = ${end:command}

[supervisor]
recipe = collective.recipe.supervisor
programs = 
    00 tracd ${buildout:bin-directory}/tracd [ ${project:path} --port=${ports:trac} ]
    00 slave ${buildout:bin-directory}/bitten-slave [ -v http://${hosts:localhost}:${ports:trac}/${project:name}/builds ]
